@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    cursor: none;
    user-select: none;
    -webkit-user-select: none;
    
  }
 
  
  .d1::before {
    content: "";
    display: block;
    position: absolute;
    top: calc(var(--mouse-y) * 1px);
    left: calc(var(--mouse-x) * 1px);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgb(179, 205, 34);
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 0;
    
  }
